* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.products {
    list-style: none;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    padding: 20px;

}

a {
    text-decoration: none;
}

.product {
    background-color: #fff;
    width: 300px;
    border-radius: 12px;
    box-shadow: 0px 2px 18px #002671;
    padding: 20px;
    text-align: end;
}

.product img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 22px;
    margin-bottom: 8px;
}

.product h3 {
    font-size: 20px;
    color: #002671;
    margin-bottom: 8px;
    text-align: start;
}

.product p {
    color: #002671;
    font-size: 16px;
    margin-bottom: 8px;
    text-align: start;
}

.product button {
    padding: 8px 12px;
    border-radius: 12px;
    border: none;
    background: #002671;
    border-block-end: #fff;
}